@font-face {
  font-family: "Proxiima Nova";
  src: url("../fonts/ProximaNovaCond-Extrabld.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Proxiima Nova";
  src: url("../fonts/ProximaNovaBold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Proxiima Nova";
  src: url("../fonts/ProximaNovaSemibold.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Proxiima Nova";
  src: url("../fonts/ProximaNovaRegular.otf") format("opentype");
  font-weight: 400;
}
.footer__icons__link, .footer__menu__link, .download__cart__link, .download__cart li a span, .header__menu__li__link, .header__menu li {
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

label {
  cursor: pointer;
}

.members {
  position: relative;
  margin-bottom: 120px;
}
.members__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  grid-gap: 40px;
  flex-wrap: wrap;
}
.members__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 400px;
  flex: 0 0 30%;
  height: auto;
}
.members__img {
  width: 180px;
  height: 180px;
  margin-bottom: 10px;
}
.members__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.members__title__h2 {
  font-size: 24px;
  font-weight: 600;
  color: #323232;
  line-height: 110%;
  margin-bottom: 10px;
}
.members__title__h4 {
  font-size: 18px;
  font-weight: 400;
  color: #5086EA;
  line-height: 110%;
  margin-bottom: 10px;
}
.members__text {
  font-size: 18px;
  font-weight: 400;
  color: #323232;
  line-height: 32px;
}

@media (max-width: 1150px) {
  .members__item {
    flex: 0 0 46%;
    max-width: 100%;
  }
}
@media (max-width: 800px) {
  .members__item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .members__title__h2 {
    font-size: 22px;
  }
  .members__title__h4,
.members__text {
    font-size: 16px;
    line-height: 26px;
  }
}
@media (max-width: 450px) {
  .members__img {
    width: 150px;
    height: 150px;
  }
}
.meeting {
  position: relative;
  margin-bottom: 120px;
}
.meeting__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  grid-gap: 20px;
  flex-wrap: wrap;
}
.meeting__item {
  max-width: 390px;
  height: auto;
  flex: 0 0 32%;
}
.meeting__img {
  width: 100%;
  height: 240px;
  position: relative;
  margin-bottom: 20px;
}
.meeting__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.meeting__title__h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  line-height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  background-color: rgba(80, 134, 234, 0.8);
}
.meeting__title__h2 {
  font-size: 24px;
  font-weight: 600;
  color: #323232;
  line-height: 110%;
  margin-bottom: 10px;
}
.meeting__text {
  font-size: 18px;
  font-weight: 400;
  color: #323232;
  line-height: 32px;
  margin-bottom: 10px;
}
.meeting__link {
  font-size: 16px;
  font-weight: 600;
  color: #5086EA;
  line-height: 100%;
}

@media (max-width: 1150px) {
  .meeting__item {
    max-width: 100%;
    flex: 0 0 47%;
  }
  .meeting__title__h2 {
    font-size: 22px;
  }
  .meeting__text {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 700px) {
  .meeting__item {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .meeting__img {
    height: auto;
  }
  .meeting__title__h4 {
    padding: 15px;
  }
}
.meeting_in {
  position: relative;
  margin-bottom: 120px;
}
.meeting_in__img {
  width: 100%;
  height: 440px;
  margin-bottom: 50px;
  position: relative;
}
.meeting_in__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.meeting_in__text {
  font-size: 18px;
  font-weight: 400;
  color: #323232;
  line-height: 32px;
  text-align: justify;
}

@media (max-width: 1000px) {
  .meeting_in__img {
    margin-bottom: 30px;
    height: 350px;
  }
}
@media (max-width: 800px) {
  .meeting_in__img {
    height: auto;
  }
  .meeting_in__text {
    font-size: 16px;
    line-height: 24px;
  }
}
body {
  background-color: #fff;
  font-family: "Proxiima Nova", sans-serif;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header {
  background-color: #1A2B49;
  width: 100%;
  height: auto;
  padding: 20px 0;
  position: relative;
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__menu {
  display: flex;
  align-items: center;
  grid-gap: 50px;
}
.header__menu li {
  position: relative;
}
.header__menu li ul {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  background-color: #fff;
  z-index: 10;
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 0.75rem 1.25rem;
  border-radius: 10px;
  min-width: 250px;
  max-width: 320px;
  display: none;
  flex-direction: column;
  grid-gap: 10px;
  align-items: flex-start;
}
.header__menu__li__link {
  font-size: 16px;
  font-weight: 600;
  color: #323232;
}
.header__menu__li__link:hover {
  color: #5086EA;
}
.header__logo {
  width: 180px;
  height: 52px;
}
.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header__menu__link {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  line-height: 100%;
}
.header__menu__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 400ms;
}
.header__contacts__button {
  background-color: #5086EA;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.header__cart {
  display: flex;
  align-items: center;
  grid-gap: 40px;
}
.header__ru {
  position: relative;
  z-index: 10;
  width: 50px;
  height: auto;
}
.header__ru .dropdown-content {
  display: none;
  outline: none;
}
.header__ru_none {
  position: absolute;
  margin-top: 5px;
  width: 100% !important;
  top: 100% !important;
  left: 0 !important;
  background: #fff;
  padding: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.header__ru_none .header__en__link {
  color: #212529;
  font-weight: 500;
}
.header__ru_cart {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 5px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  width: 50px;
  height: 50px;
}
.header__ru_cart span {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.4);
}
.header__right {
  position: absolute;
  top: 16px;
  right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header__right__title {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  line-height: 100%;
  margin-bottom: 5px;
}
.header__right__button {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  line-height: 100%;
  padding: 0 43px;
  width: auto;
  height: 40px;
  background-color: #5086EA;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.header__burger__start {
  display: none;
}
.header__burger__button {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: transparent;
}

.header__menu li:hover > a::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.header__menu li:hover > ul {
  display: flex;
}

.about {
  width: 100%;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
  position: relative;
  height: auto;
  margin-bottom: 120px;
}
.about__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-gap: 10px;
  text-align: center;
  padding: 80px 0;
}
.about__title__h2 {
  font-size: 48px;
  font-weight: 800;
  color: #fff;
  line-height: 120%;
}
.about__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 18px;
}
.about__menu li {
  position: relative;
}
.about__menu li + li {
  padding-left: 58px;
}
.about__menu li + li::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.about__menu__link {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  line-height: 110%;
}

.download {
  position: relative;
  margin-bottom: 120px;
}
.download__cart li a {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.download__cart li a span {
  width: 30px;
  height: 30px;
}
.download__cart li a span img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.download__cart li a span img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.download__cart li + li {
  border-top: 1px solid #DFDFDF;
}
.download__cart__link {
  font-size: 20px;
  font-weight: 600;
  color: #323232;
  line-height: 120%;
}

.download__cart li:hover > a {
  color: #5086EA;
}

.download__cart li:hover > a span {
  opacity: 0.5;
}

.footer {
  background-color: #1A2B49;
  width: 100%;
  height: auto;
  padding: 50px 0;
}
.footer__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  grid-gap: 20px;
  flex-wrap: wrap;
}
.footer__cart {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  grid-gap: 100px;
}
.footer__menu {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  grid-gap: 20px;
}
.footer__menu__link {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  line-height: 100%;
}
.footer__menu__link:hover {
  color: #5086EA;
}
.footer__title__h2 {
  font-size: 18px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
  line-height: 110%;
  margin-bottom: 20px;
}
.footer__contacts__menu {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  grid-gap: 20px;
}
.footer__contacts__link {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  line-height: 120%;
}
.footer__contacts__link span {
  color: rgba(255, 255, 255, 0.6);
  margin-right: 10px;
}
.footer__icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-gap: 20px;
}
.footer__icons__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.16);
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.footer__icons__link:hover {
  background-color: #5086EA;
}
.footer__title__h5 {
  font-size: 16px;
  font-weight: 400;
  color: #7B8BA7;
  line-height: 110%;
  text-align: right;
  margin-top: 20px;
}

@media (max-width: 1775px) {
  .header__right {
    display: none;
  }
}
@media (max-width: 1420px) {
  .header__list,
.about__list,
.download__list,
.footer__list,
.members__list,
.meeting__list,
.meeting_in__list {
    margin-left: 60px;
    margin-right: 60px;
  }
  .footer__cart {
    grid-gap: 60px;
  }
  .about__title__h2 {
    font-size: 40px;
  }
}
@media (max-width: 1200px) {
  .footer__cart {
    grid-gap: 40px;
  }
  .about,
.download,
.members,
.meeting,
.meeting_in {
    margin-bottom: 60px;
  }
  .about__title__h2 {
    font-size: 36px;
  }
  .about__menu__link {
    font-size: 16px;
  }
  .download__cart__link {
    font-size: 18px;
  }
  .about__list {
    padding: 60px 0;
  }
  .sidenav {
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    margin: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
  }
  .sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 997;
    display: none;
  }
  .header__burger__start {
    display: block;
  }
  .header__menu {
    flex-direction: column;
    grid-gap: 20px;
    align-items: flex-start;
    padding: 30px 20px 20px 30px;
  }
  .header__menu__link {
    color: #323232;
  }
  .header__menu li ul {
    transform: translateX(0%);
    left: 0;
  }
  .footer__icons {
    justify-content: center;
  }
  .footer__list {
    display: block;
  }
  .footer__title__h5 {
    text-align: center;
    font-size: 14px;
  }
  .footer__cart {
    margin-bottom: 30px;
  }
}
@media (max-width: 900px) {
  .header__contacts__button {
    display: none;
  }
  .about__title__h2 {
    font-size: 34px;
  }
  .download__cart__link {
    font-size: 16px;
  }
}
@media (max-width: 720px) {
  .about__list {
    padding: 40px;
  }
  .about,
.download,
.members,
.meeting,
.meeting_in {
    margin-bottom: 40px;
  }
}
@media (max-width: 650px) {
  .header__list,
.about__list,
.download__list,
.footer__list,
.members__list,
.meeting__list,
.meeting_in__list {
    margin-left: 30px;
    margin-right: 30px;
  }
  .header__cart {
    grid-gap: 30px;
  }
  .footer {
    padding: 40px 0;
  }
}
@media (max-width: 450px) {
  .about__title__h2 {
    font-size: 30px;
  }
  .about__menu__link {
    font-size: 14px;
  }
  .about__menu li + li::after {
    width: 30px;
  }
  .about__menu li + li {
    padding-left: 40px;
  }
  .about__menu {
    grid-gap: 10px;
  }
  .download__cart li a {
    padding: 10px 0;
  }
}

/*# sourceMappingURL=index.css.map */
