@font-face{
    font-family: 'Proxiima Nova';
    src: url('../fonts/ProximaNovaCond-Extrabld.ttf') format("truetype");
    font-weight: 800;
}

@font-face{
    font-family: 'Proxiima Nova';
    src: url('../fonts/ProximaNovaBold.otf') format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: 'Proxiima Nova';
    src: url('../fonts/ProximaNovaSemibold.otf') format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: 'Proxiima Nova';
    src: url('../fonts/ProximaNovaRegular.otf') format("opentype");
    font-weight: 400;
}